<div class="container">
  <div class="row no-gutters">
      <p class="col-12 p-5 text-center">
        <strong>本当に退会しますか？</strong>
      </p>
      <p class="col-12 text-center">
        退会すると、会員登録情報や<br>
        これまでの購入履歴が閲覧できなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。
      </p>
    <div class="col-6 text-right"><%= link_to "退会しない", public_customer_path(@customer.id), class:"btn btn-primary" %></div>
    <div class="col-6"><%= link_to "退会する", public_withdraw_path(@customer.id), method: :patch, data: { confirm: '退会しますか？' }, class:"btn btn-danger" %></div>
  </div>
</div>