<div class="container">
  <div class="row no-gutters">
    <div class="col-12 d-inline-flex p-2 bd-highlight">
      <h4 class="bg-secondary">ジャンル編集</h4>
    </div>
      <%= form_with model: @genre, url: admin_genre_path(@genre.id), method: :patch do |f| %>
      <div class="row">
        <label class="col-sm-3 col-form-label">ジャンル名</label>
        <div class="col-6">
          <%= f.text_field :name %>
        </div>
        <div class="col-3">
          <%= f.submit '変更を保存', class:"btn btn-success" %>
        </div>
      </div>
      <% end %>
  </div>
</div>
